# Ignore all files
*

# Un-ignore (keep tracking) all directories
!*/

# Un-ignore (keep tracking) all files that have an extension (a dot followed by characters)
!*.*

/.vscode
/.idea
CMakeLists.txt
*.exe
tempCodeRunnerFile.c